/* Calendar Container */
#calendar-container {
  background-color: #ffffff;
  color: #555555;
  transition: background-color 0.15s, color 0.15s;
}

.dark-mode #calendar-container {
  background-color: #555555;
  color: #ffffff;
}

/* Calendar */
.dark-mode #calendar .days {
  background-color: #777777;
  color: #ffffff;
}

.dark-mode #calendar .dates .date {
  background-color: #555555;
  color: #ffffff;
}

.dark-mode #calendar .dates .date.selected {
  background-color: #666666;
}

.dark-mode #calendar .dates .date:hover {
  background-color: #777777;
}

.dark-mode .modal {
  background-color: #444444;
  color: #ffffff;
}

.dark-mode .modal input,
.dark-mode .modal textarea {
  background-color: #555555;
  color: #ffffff;
}

.dark-mode .modal button {
  background-color: #666666;
  color: #ffffff;
}

.dark-mode .modal button:hover {
  background-color: #777777;
}

.dark-mode #calendar .days .day {
  color: #ffffff;
}